<div class="ui-g">
   <p-panel header="Lista de Productos" [style]="{width: '70%'}"> 
        <p-table [value]="productos" [columns]="columnas" [paginator]="true" [rows]="3">
            <ng-template pTemplate="header" let-columnas>
                <tr>
                    <th *ngFor="let columna of columnas">{{columnas.header}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-productos let-columnas="columnas">
                <tr>
                    <td *ngFor="let columna of columnas"> {{productos[columnas.field]}} </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel> 
